.card {
  margin-bottom: 10px; 
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(236, 228, 155, 0.125);
  border-radius: .25rem;
  background-color:#CBDBDD;
  padding: 2%;
}


