.backCard{
  padding: 10px;
  background-color: #CBDBDD;
  box-shadow: 2px 2px 2px 1px #002F49;
}

.teamName{
  text-align: center;
  padding: 10px;
}
.aboutCardDeck{
  align-items: center;
}

.card-img{
  box-shadow: 2px 2px 2px 1px #002F49;
}

h5{
    display: inline;
    
}
