h1{
    font-family: 'Lato', sans-serif;
    /* font-weight: bolder; */
}
.numbers{
    font-family: 'Libre Baskerville', serif;
    font-weight:normal;
    font-size: large;
}
.header{
    background-color: #e1f7fa;
    box-shadow: 2px 2px 7px 1px #E1D8BF;
    font-family: 'Lato', sans-serif;
    font-weight:normal;
    font-size: medium;
}
.jumbotron {
    background-image: url('../assets/img/compass.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
.WWC{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
