p {
    font-family: 'Lato', sans-serif;
    /* font-weight: bolder; */
}
.card-header {
    display: flex;
    justify-content: space-between;
}
.jumbotron {
    background-image: url('../assets/img/compass.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-size: cover;
   }

.acc-Card{
    background-color: #e1f7fa;
    box-shadow: 2px 2px 7px 1px #E1D8BF;
    
   }

.btn-link{
    color:black;
    box-shadow: 2px 2px 7px 1px #E1D8BF;
}

#acc{
    background-color: #e1f7fa;
    color:black;
    box-shadow: 2px 2px 7px 1px #E1D8BF;
    border-radius: 5px;
}

#acc:hover{
    background-color: #CBDBDD;
}
